
<div class ="banner">
    <ng-map class ="map-prop" center = "[{{searchDetail.location.latitude}},{{searchDetail.location.longitude}}]" >
        <marker position="[{{searchDetail.location.latitude}},{{searchDetail.location.longitude}}]" title="{{searchDetail.name}}" animation="Animation.BOUNCE" centered="true"></marker>
    </ng-map>
</div>


<div class="container-fluid site-color-background restaurant-header elevation3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 pull-left">
                <img class="img img-responsive img-thumbnail restaurant-logo-image"  ng-src="{{searchDetail.image}}" alt="Image currently unavailable"  >
            </div>
            <div class="col-lg-3 pull-right">
                <h1 class="inverted-color pull-right big-bold ">{{searchDetail.rating.aggregate_rating}}</h1>
            </div>

            <div class="col-lg-6">
                <div class="inverted-color">
                    <h1>{{searchDetail.name}}</h1>
                    <p class="subtext">{{searchDetail.location.address}}</p>
                    <p class="subtext">Cuisines: {{searchDetail.cuisines}}</p>
                    <p class="subtext">Price Range: {{searchDetail.priceRange}}</p>
                    <p class="subtext">Average cost for two: {{searchDetail.avgCost}}</p>

                    <h4 class="inverted-color left" ng-if ="!isCurrentUser()"><i>Favorite this Restaurant?</i>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary"
                            ng-click="addOrRemoveFav()" ng-if ="!isCurrentUser()">
                        <span ng-show="userFav.resIds.indexOf(searchDetail.id) > -1" class="glyphicon glyphicon-star"></span>
                <span ng-show="!userFav || !userFav.resIds || userFav.resIds.indexOf(searchDetail.id) == -1"
                      class="glyphicon glyphicon-star-empty">

                </span></button></h4>



                    <!--<a ng-click = "addFav(searchDetail)" > <img  class ="heart" width = "30px" height = "30px" ng-src ="./css/empty.png"/></a>-->


                </div>
            </div>
        </div>
    </div>


</div>
<div class ="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div class="card box-shadow1 card-padding">

                <div ng-repeat = "review in reviews" class = "container-fluid">
                    <div class = "container-fluid ">
                        <uib-rating ng-model="review.rating"  max="5" read-only="true"  titles="['one','two','three']" aria-labelledby="default-rating">

                        </uib-rating>
                        <h4> <i>{{review.text}} </i></h4>

                        <div class = "site-color-background inverted-color review-user pull-right box-shadow2">
                            <h5>{{review.userName}}</h5>
                        </div>
                    </div>
                    <hr>
                </div>
                <div ng-if = "noReviews" class="text-center more-button" >
                    Write the first review for {{searchDetail.name}}!
                </div>
            </div>

        </div>
        <div class="col-lg-4">

            <div class="card box-shadow1" ng-show = "currentUser">
                <div class="form-header">
                    <h3 class="container-fluid site-color ng-binding">Been to {{searchDetail.name}}? Write a review below!</h3>
                </div>
                <div class="container-fluid review">
                    <label >Rating: </label>
                    <uib-rating ng-model="rate"  max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating">

                    </uib-rating>
                    <form class="form-horizontal ng-pristine ng-valid">
                        <textarea placeholder="Write a review!" class="form-control review-textarea ng-pristine ng-valid ng-touched" name="name" rows="8" cols="40" ng-model="review.text"></textarea>
                        <button class="btn btn-primary square-button site-color-background form-control"
                                ng-if="!isCurrentUser()" ng-click="createReview(review)">Submit Review</button>
                        <button class="btn btn-primary square-button site-color-background form-control"
                                ng-if="isCurrentUser()" >Login to rewrite review </button>
                    </form>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-3"></div>-->
    </div>
</div>