
.form-horizontal .control-label{
    text-align:left;
    white-space: nowrap;
}

th {
    background-color: crimson;
    color: black;
}
.imgResp{
    max-width: 100%;
    height: auto
}

.col {
    width: 200px;
    float: left;
}

.tableProp {border-collapse:collapse; table-layout:fixed;}
.tdProp { width:100px; word-wrap:break-word;}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
    float: none;
}

.bgColor{
    background-image: url("img.jpg");
}
.thumb{
    width: 200px;
    height: 150px
}

.search-box{
    width:250px;
    margin: auto;
}

.invalid-field
{
    border:1px solid #f00;
}

.errorMsg{
    text-align: center;
    font-style: italic;
    color: red;
}

td {
    background-color: #ff9436;
            /*#c0392b;*/
    color: black;
}

.card {
    background: white;
    margin-top: 20px;
    z-index: 1;
}
/*.card-padding{*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
/*}*/
.table-responsive th, .table-responsive td{
    white-space: nowrap;
}

.text-input {
    height: 60px;
    border-radius: 0;
    box-shadow: none;
    margin-top: 5px;
    background: white;
}
.text-input:focus {
    background: white;
}
.search {
    height: 60px;
    border: none;
    border-radius: 1px;
    background-color: #ff9436;
            /*#c0392b;*/
    margin-top: 5px;
}

body {
    background: #eee;
    margin: 0;
    height: 100%;
    width: 100%;
}

.results {
    float: left;
    border: none;
    overflow: hidden;
    padding:5px;
    min-width: 160px;
    max-width: 4000px;
    white-space:normal;
    word-wrap: break-word;
    text-align: center;
}

.detailResults {
    border: none;
    overflow: hidden;
    padding:5px;
    min-width: 160px;
    max-width: 4000px;
    white-space:normal;
    word-wrap: break-word;
    text-align: center;
}

.glyphicon{
    font-size: 20px;
}

.glyphicon-triangle-bottom{
    font-size: 10px;
}

.glyphicon-plus{
    color:deepskyblue;
}
.glyphicon-remove{
    color:red;
}
.glyphicon-ok{
    color:green;
}

.glyphicon-pencil{
    color:darkslategrey;
}

hr {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

h3 h4{
    top:5px;
}
/*.nav.navbar-nav.navbar-right li a {*/
    /*color: #fff;*/
/*}*/
/*.nav.navbar-nav.navbar-right > .active > a,*/
/*.nav.navbar-nav.navbar-right > .active > a:hover,*/
/*.nav.navbar-nav.navbar-right > .active > a:focus {*/
    /*color: #fff;*/
    /*background-color: #0099cc;*/
/*}*/
