
.form-horizontal .control-label{
    text-align:left;
    white-space: nowrap;
}

th {
    background-color: crimson;
    color: black;
}
.imgResp{
    max-width: 100%;
    height: auto
}

.opacity{
    opacity: 0.7;
}
.card-img {
    width: 125px;
    height: 90px;
    max-height: 90px;
    mix-width: 125px;
}
.home-card-move-up{
    margin: 0;
}
.tableProp {border-collapse:collapse; table-layout:fixed;}
.tdProp { width:100px; word-wrap:break-word;}

.heart{
    float: left;
    clear:left;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
    float: none;
}

.bgColor{
    background-image: url("img.jpg");
}
.thumb{
    width: 200px;
    height: 150px
}

.search-box{
    width:250px;
    margin: auto;
}



/*.container-fluid {*/
      /*height: 100%;*/
      /*!*overflow-y: hidden; !* don't show content that exceeds my height *!*!*/
/*}*/
.invalid-field
{
    border:1px solid #f00;
}

.errorMsg{
    text-align: center;
    font-style: italic;
    color: red;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

td {
    background-color: #ff9436;
            /*#c0392b;*/
    color: black;
}
/*new section*/
.card {
    background: white;
    margin-top: 20px;
    z-index: 1;
}
.card-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-heading {
    padding: 20px 20px 10px 20px;
}
.square-button {
    border: none;
    min-height: 50px;
    border-radius: 0;
    box-shadow: none;
}

.restaurant-logo-image {
    /*width: 200px;*/
    height: 200px;
    margin-top: -50px;
    border: 10px solid #c0392b;
}
.box-shadow1 {
    box-shadow: 0 1px 3px #999;
}
.box-shadow2 {
    box-shadow: 0 2px 5px #999;
}
.elevation3 {
    box-shadow: 0 5px 7px #999;
}
.inverted-color {
    color: #eee;
}
.dark-color {
    color: #222;
}
.site-color-background {
    background-color: #c0392b;
}

.footer {
    background: #c0392b;
    min-height: 200px;
    margin-top: -20px;
    padding: 75px 100px 50px 100px;
    z-index: -999;
    position:relative;
    bottom:0;
    width:100%;
    height:200px;
}

html, body {height: 100%;}

.map-prop {
    height: 350px;
    display:block;
}
.home-img-prop {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}
.home-img {
    background-image: url(res2.jpg);
}

.home-cards{
    color: #222;
}
.home-cards:hover{
    color: #c0392b;
}
.banner-image-restaurant {
    background-image: url(../images/rest_banner.jpg);
}

.space-top-bottom {
    padding-top: 200px;
    padding-bottom: 200px;
}

.space-top-bottom-small {
    padding-top: 55px;
    padding-bottom: 200px;
}
.form-heading{
    font-size: 22px;
}

.restaurant-header {
    height: auto;
    padding-bottom: 20px;
}

.review-user{
    display: inline-block;
    padding: 5px 50px 5px 10px;
    margin-right: -40px;
}
.form-header {
    padding: 10px 10px 10px 10px;
}
.review {
    padding: 20px;
}
.review-textarea {
    border: none;
    border-radius: 1px;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
    background-color: #eee;
}
.review-textarea:focus {
    color: #eee;
    background-color: #c0392b;
}
.edit-review-textarea {
    border: none;
    border-radius: 1px;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-style: none;
}
.edit-review-textarea:focus {
    color: #eee;
    background-color: #c0392b;
}

.table-responsive th, .table-responsive td{
    white-space: nowrap;
}

.notify{
    text-align: center;
}

.text-input {
    height: 60px;
    border-radius: 0;
    box-shadow: none;
    margin-top: 5px;
    background: white;
}
.text-input:focus {
    background: white;
}
.search {
    height: 60px;
    border: none;
    border-radius: 1px;
    background-color: #ff9436;
            /*#c0392b;*/
    margin-top: 5px;
}

body {
    background: #eee;
    margin: 0;
    height: 100%;
    width: 100%;
}

.results {
    float: left;
    border: none;
    overflow: hidden;
    padding:5px;
    min-width: 160px;
    max-width: 4000px;
    white-space:normal;
    word-wrap: break-word;
    text-align: center;
}

.detailResults {
    border: none;
    overflow: hidden;
    padding:5px;
    min-width: 160px;
    max-width: 4000px;
    white-space:normal;
    word-wrap: break-word;
    text-align: center;
}

.glyphicon{
    font-size: 20px;
}

.glyphicon-triangle-bottom{
    font-size: 10px;
}

.glyphicon-plus{
    color:deepskyblue;
}
.glyphicon-remove{
    color:red;
}
.glyphicon-ok{
    color:green;
}

.glyphicon-pencil{
    color:darkslategrey;
}

h3 h4{
    top:5px;
}
/*.nav.navbar-nav.navbar-right li a {*/
    /*color: #fff;*/
/*}*/
/*.nav.navbar-nav.navbar-right > .active > a,*/
/*.nav.navbar-nav.navbar-right > .active > a:hover,*/
/*.nav.navbar-nav.navbar-right > .active > a:focus {*/
    /*color: #fff;*/
    /*background-color: #0099cc;*/
/*}*/
