
<div class ="home-img-prop home-img container-fluid">

    <div class = "container-fluid space-top-bottom center-block">
        <div class = "row">
            <div class="col-sm-3 col-md-3 col-lg-3 hidden-md hidden-sm hidden-xs"></div>
            <div class = "col-lg-6 container fluid">
                <div class = "row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <input ng-model="model.search.query" class="form-control text-input center-block ng-pristine ng-untouched ng-valid" name="search" value="" placeholder="Pizza, Indian, Sushi ..." type="text"
                               ng-keyup="$event.keyCode == 13 ? model.userSearch(model.search) : null">

                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input ng-model="model.search.place" class="form-control text-input center-block ng-pristine ng-untouched ng-valid" name="search" value="" placeholder="Enter City, State ..." type="text">
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <button ng-click="model.userSearch(model.search)" class="btn btn-info form-control search center-block " type="button" name="button">
                            <span class="glyphicon glyphicon-search"></span> Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<div ng-hide="model.restaurants.length>0" class="tablediv row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <h3>
				<span class="glyphicon glyphicon-hourglass"
                      style="margin-top: 150px"> Loading...</span>
        </h3>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 hidden-sm hidden-xs hidden-md">

        </div>
        <div class="col-lg-6">
            <div ng-repeat="restaurant  in model.restaurants">
                <a class="home-cards" href="#/api/search/{{restaurant.restaurant.R.res_id}}">
                    <div class="card box-shadow2">
                        <div class="row card-heading">

                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <img class="img img-responsive card-img "   ng-src="{{restaurant.restaurant.thumb}}" alt=" Image currently unavailable">
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 center-block" >
                                    <h2 class ="home-card-move-up">{{restaurant.restaurant.name}}</h2>
                                    <h4 class="subtitle ">{{restaurant.restaurant.location.address}}</h4>
                                    <h4>Rating: {{restaurant.restaurant.user_rating.aggregate_rating}}</h4>

                                </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 hidden-sm hidden-xs hidden-md">

        </div>
    </div>
</div>

